<?xml version="1.0"?>
<launch>
    <arg name="uav_id" value="$(env UAV_GROUPNAME)" />
    <arg name="uav_idx" value="$(env HOSTNAME)" />
    <arg name="fcu_url" value="/dev/ttyAML0:230400" />
    <arg name="id" value="drone$(arg uav_idx)"/>
    <!-- <arg name="fcu_url" default="udp://:14540@localhost:14580"/> -->
    <arg name="gcs" default="udp://@127.0.0.1"/>
    <!-- <arg name="gcs" value="udp://@192.168.31.1" /> -->

    <remap from="/$(arg id)/mavros/vision_pose/pose" to="/vrpn_client_node/radxa$(arg uav_idx)/pose"/>

    <!-- drone0 -->
    <group ns="drone$(arg uav_idx)">

        <!-- Mavros -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value="$(arg gcs)"/>
            <arg name="tgt_system" value="$(arg uav_idx)"/>            
            <arg name="tgt_component" value="1"/>
        </include>
        
        <arg name="max_velocity" value="2.0"/>
        <arg name="order" value="5"/>
        <arg name="knot_division" value="5"/>
        <arg name="command_rate" value="15"/>
        <arg name="sensor_range" value="1.9"/>

	    <!-- PX4 Bspline Trajectory Manager -->
	    <node pkg="pbtm" type="pbtm_node" name="pbtm_node" output="screen">
            <param name="agent_id" value="$(arg id)"/>
            <param name="send_command_rate" value="$(arg command_rate)"/>
            <param name="timeout" value="0.5"/>
            <param name="takeoff_height" value="1.3"/>
            <!-- nwu frame -->
            <rosparam param="global_start_position">[0.0, 0.0, 0.0]</rosparam>
            <rosparam param="height_range">[1.0, 2.0]</rosparam>
            <param name="yaw_offset_rad" value="0.0"/>
            <param name="order" value="$(arg order)"/>
            <param name="max_velocity" value="$(arg max_velocity)"/>
            <param name="knot_division" value="$(arg knot_division)"/>
            <param name="bypass_timeout" value="2.0"/>
            <param name="takeoff_land_velocity" value="0.3"/>
        </node>

        <!-- FOALME -->
        <node pkg="bs_trajectory_ros" type="bs_trajectory_ros_node" name="bs_trajectory_ros_node" output="screen">
            <param name="agent_id" value="$(arg id)"/>
            <param name="odom_or_pose" value="pose"/>

            <param name="traj_opt_update_hz" value="2.0"/>
            <param name="cmd_update_hz" value="$(arg command_rate)"/>

            <!-- Bspline parameters -->
            <param name="traj_duration_secs" value="8.0"/>
            <param name="order" value="$(arg order)"/>
            <param name="des_knot_div" value="$(arg knot_division)"/>
            <param name="max_velocity" value="$(arg max_velocity)"/>

            <!-- RRT parameters -->
            <param name="runtime_error" value="0.12"/>
            <param name="sub_runtime_error" value="0.02"/>
            <param name="search_radius" value="$(arg sensor_range)"/>
            <param name="threshold" value="0.4"/>
            <param name="search_interval" value="7.0"/>

            <param name="xybuffer" value="1.0"/>
            <param name="zbuffer" value="1.0"/>
            <param name="passage_size" value="2.5"/>
            <!-- <param name="passage_size" value="4.0"/> -->

            <rosparam param="height">[1.0, 1.6]</rosparam>

            <!-- Optimization parameters -->
            <param name="weight_smooth" value="5.0"/>
            <param name="weight_feas" value="5.0"/>
            <param name="weight_static" value="2.5"/>
            <param name="weight_reci" value="7.0"/>
            <param name="max_acc" value="0.3"/>
        </node>

    </group>
    
</launch>